<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp</title>
</head>
<body>
<!-- <section id="portfolio">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <h2>云收藏的收藏家</h2>
                     <hr class="star-primary"/>
                 </div>
             </div>
             <div class="row">
                 <div th:if="${collector.mostCollectUser != null}" class="col-sm-4 portfolio-item">
                     <a  th:href="'/collector/'+${collector.mostCollectUser.id}+'/0'" class="portfolio-link">
                         <div class="caption">
                             <div class="caption-content">
                                 <i class="fa fa-search-plus fa-3x"></i>
                                 <p>我收藏的文章最多，我收藏我快乐！</p>
                                 <p th:text="${collector.mostCollectUser.introduction == null ? '暂无简介' : collector.mostCollectUser.introduction.length() gt 15 ? collector.mostCollectUser.introduction.substring(0,15)+'...' : collector.mostCollectUser.introduction}">暂无简介</p>
                             </div>
                         </div>
                         <img th:src="@{(${collector.mostCollectUser.profilePicture} == null ? @{/index/img/portfolio/cabin.png}:'/'+${collector.mostCollectUser.profilePicture})}" alt="" class="img-responsive"/>
                     </a>
                 </div>
                 <div th:if="${collector.mostFollowedUser != null}" class="col-sm-4 portfolio-item">
                     <a th:href="'/collector/'+${collector.mostFollowedUser.id}+'/0'" class="portfolio-link">
                         <div class="caption">
                             <div class="caption-content">
                                 <i class="fa fa-search-plus fa-3x"></i>
                                 <p>关注我的人最多,我是人气王！</p>
                                 <p th:text="${collector.mostFollowedUser.introduction == null ? '暂无简介' : collector.mostFollowedUser.introduction.length() gt 15 ? collector.mostFollowedUser.introduction.substring(0,15)+'...' : collector.mostFollowedUser.introduction}">暂无简介</p>
                             </div>
                         </div>
                         <img th:src="@{(${collector.mostFollowedUser.profilePicture} == null ? @{/index/img/portfolio/cake.png}:'/'+${collector.mostFollowedUser.profilePicture})}" alt="" class="img-responsive"/>
                     </a>
                 </div>
                 <div th:if="${collector.mostPraisedUser != null}" class="col-sm-4 portfolio-item">
                     <a th:href="'/collector/'+${collector.mostPraisedUser.id}+'/0'" class="portfolio-link">
                         <div class="caption">
                             <div class="caption-content">
                                 <i class="fa fa-search-plus fa-3x"></i>
                                 <p>赞我文章的人最多，大家都来赞赞赞！</p>
                                 <p th:text="${collector.mostPraisedUser.introduction == null ? '暂无简介' : collector.mostPraisedUser.introduction.length() gt 15 ? collector.mostPraisedUser.introduction.substring(0,15)+'...' : collector.mostPraisedUser.introduction}">暂无简介</p>
                             </div>
                         </div>
                         <img th:src="@{(${collector.mostPraisedUser.profilePicture} == null ? @{/index/img/portfolio/circus.png}:'/'+${collector.mostPraisedUser.profilePicture})}" alt="" class="img-responsive"/>
                     </a>
                 </div>
                 <div th:if="${collector.mostCommentedUser != null}" class="col-sm-4 portfolio-item">
                     <a  th:href="'/collector/'+${collector.mostCommentedUser.id}+'/0'" class="portfolio-link">
                         <div class="caption">
                             <div class="caption-content">
                                 <i class="fa fa-search-plus fa-3x"></i>
                                   <p>评论我文章的人最多，快看我收藏了什么！</p>
                                   <p th:text="${collector.mostCommentedUser.introduction == null ? '暂无简介' : collector.mostCommentedUser.introduction.length() gt 15 ? collector.mostCommentedUser.introduction.substring(0,15)+'...' : collector.mostCommentedUser.introduction}">暂无简介</p>
                             </div>
                         </div>
                         <img th:src="@{(${collector.mostCommentedUser.profilePicture} == null ? @{/index/img/portfolio/game.png}:'/'+${collector.mostCommentedUser.profilePicture})}" alt="" class="img-responsive"/>
                     </a>
                 </div>
                 <div th:if="${collector.mostPopularUser != null}"  class="col-sm-4 portfolio-item">
                     <a th:href="'/collector/'+${collector.mostPopularUser.id}+'/0'" class="portfolio-link">
                         <div class="caption">
                             <div class="caption-content">
                                 <i class="fa fa-search-plus fa-3x"></i>
                                  <p>我最受欢迎，想不想关注我！</p>
                                  <p th:text="${collector.mostPopularUser.introduction == null ? '暂无简介' : collector.mostPopularUser.introduction.length() gt 15 ? collector.mostPopularUser.introduction.substring(0,15)+'...' : collector.mostPopularUser.introduction}">暂无简介</p>
                             </div>
                         </div>
                         <img th:src="@{(${collector.mostPopularUser.profilePicture} == null ? @{/index/img/portfolio/safe.png}:'/'+${collector.mostPopularUser.profilePicture})}" alt="" class="img-responsive"/>
                     </a>
                 </div>
                 <div th:if="${collector.mostActiveUser != null}" class="col-sm-4 portfolio-item">
                     <a th:href="'/collector/'+${collector.mostActiveUser.id}+'/0'" class="portfolio-link">
                         <div class="caption">
                             <div class="caption-content">
                                 <i class="fa fa-search-plus fa-3x"></i>
                                  <p>近一个月我最活跃，快来超越我！</p>
                                 <p th:text="${collector.mostActiveUser.introduction == null ? '暂无简介' : collector.mostActiveUser.introduction.length() gt 15 ? collector.mostActiveUser.introduction.substring(0,15)+'...' : collector.mostActiveUser.introduction}">暂无简介</p>
                             </div>
                         </div>
                         <img th:src="@{(${collector.mostActiveUser.profilePicture} == null ? @{/index/img/portfolio/submarine.png}:'/'+${collector.mostActiveUser.profilePicture})}" alt="" class="img-responsive"/>
                     </a>
                 </div>
             </div>
         </div>
     </section>
-->
</body>
</html>